@font-face {
  font-family: "Adventure";
  src: url("../fonts/AdventureReQuest.otf");
}

.main-container {
  height: 100vh;
  overflow: hidden;
}

.top-container {
  background-color: black;
  display: flex;
}

.room-img {
  /* float: left; */
  background-repeat: no-repeat;
  height: 60vh;
  width: 60%;
}

.map {
  background: url("https://img.itch.zone/aW1nLzE3MDUzNjguZ2lm/original/WkZYrR.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  /* margin: 0 auto;
  align-self: center;

  color: white; */
}

.bottom-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: tan;
  height: 100%;
  width: 100%;
}
h2 {
  font-family: "Adventure";
}
ul {
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
  align-content: center;
  overflow: hidden;
}

.controller {
  border-radius: 50%;
  border-left: 1px solid grey;
  /* width: 20%; */
  /* height: 50%; */
  background-color: burlywood;
  grid-template-areas:
    "header header header header header header"
    "main main main right right right"
    "footer footer footer footer footer footer";
  grid-gap: 10px;
  margin-top: 10px;
  padding: 40px;
}

.btn-dir {
  font-size: 30px;
  color: black;
  margin: 5px;
  background-color: cornsilk;
}

.alert {
  flex-direction: column;
}

#one {
  grid-area: header;
}
#two {
  grid-area: footer;
}
#three {
  grid-area: right;
}
#four {
  grid-area: main;
}
