@font-face {
  font-family: "Adventure";
  src: url("../fonts/AdventureReQuest.otf");
}

.main-container {
  /* border: 5px solid saddlebrown; */
  /* height: 100vh; */
  /* overflow: hidden; */
}

.top-container {
  background-color: black;
  display: flex;
}

.room-img {
  /* float: left; */
  border: 3px solid saddlebrown;
  background-repeat: no-repeat;
  height: 60vh;
  width: 60%;
}

.map {
  background: url("https://img.itch.zone/aW1nLzE3MDUzNjguZ2lm/original/WkZYrR.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}

.bottom-container {
  /* border: 5px solid green; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: tan;
  height: 100%;
  width: 100%;
}
.player-container {
  padding: auto;
  width: 30%;
  background: url("../images/rpgborder2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.room-container {
  width: 30%;
  background: url("../images/rpgborder3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
h2 {
  font-family: "Adventure";
}

.controller {
  border-left: 1px solid grey;
  background-color: burlywood;
  grid-template-areas:
    "header header header header header header"
    "main main main right right right"
    "footer footer footer footer footer footer";
  grid-gap: 10px;
  padding: 40px;
  width: 40%;
}

.btn-dir {
  font-size: 30px;
  color: black;
  margin: 5px;
  background-color: cornsilk;
}

.alert {
  flex-direction: column;
}

#one {
  grid-area: header;
}
#two {
  grid-area: footer;
}
#three {
  grid-area: right;
}
#four {
  grid-area: main;
}
