/* @media screen and (min-width: 1440px) and  (max-width: 1440px)  {
  .main-container {
    min-width: 1400px;
  }

} */

h2,
h3,
h4,
h5 {
  font-family: "Adventure";
}

html {
  background-color: black;
}
.body {
  /* max-width: 1400px; */
  background-color: black;
}

.top-container {
  display: flex;
  flex-direction: row;
  height: 60vh;
}

.tv-container {
  display: block;
  background-repeat: no-repeat;
  height: 100%;
  width: 40%;
  position: relative;
  background: url("../images/carpet.png");
}

.tv-img {
  z-index: 1;
  margin-top: 10px;
  width: 90%;
  height: 100%;
  border-right: 5px solid black;
  border-bottom: 3px solid black;
  border-left: 5px solid black;
  border-top: 0px solid black;
  border-radius: 40px;
  position: relative;
}

.room-img {
  position: absolute;
  border-radius: 50px;
  background: transparent
    url("https://66.media.tumblr.com/c9e06fd55c36bfd07ab248f3dfa0f8c0/tumblr_oc24jwFvCh1rrftcdo1_400.gif")
    center no-repeat;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}
.framed-golden-2 {
  width: 100%;
}

.framed-golden {
  /* border: 3px dotted black; */

  border-top: 3px dotted black;
  border-right: 3px dotted black;
  border-left: 3px dotted black;
  background: url("../images/newmap.jpg") !important;
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
  width: 60%;

  /* display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px; */
}

.pusher-chat {
  /* border: 1px solid black; */
  /* margin-right: 10px;
  margin-bottom: 10px; */
  text-align: center;
  /* margin: 0 auto; */
  /* position: relative; */
  /* background-color: rgba(255, 255, 255, 0.6); */
  /* border-radius: 8px; */
}

.chat-input {
  vertical-align: baseline;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  /* left: 20px; */
  height: 40%;
  width: 100%;
  /* padding: 10px; */
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
.account-icon {
  margin-top: 15px;
  align-self: center;
}
.chat-button {
  margin-top: 15px;
  align-self: center;
}
.text-input {
  align-self: center;
}

.chat-broadcast {
  width: 100%;

  color: white;
  padding: 5px;

  p {
    font-family: "RS1";
    text-align: left;
    font-size: 16px !important;
    line-height: 10px;
  }
}

.map {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 33%;
  grid-auto-rows: 33%;
}

#map-player1 {
  position: relative;
  left: 5%;
}

#map-player2 {
  position: relative;
  right: 20%;
}
#map-player3 {
  position: relative;
  bottom: 5%;
  left: 10%;
}
#map-player4 {
  position: relative;
  top: 25%;
  left: 10%;
}
#map-player5 {
  position: relative;
  top: 13%;
  right: 20%;
}
#map-player6 {
  position: relative;
  right: 18%;
  top: 5%;
}
#map-player7 {
  position: relative;
  top: 30%;
  left: 20%;
}
.bottom-container {
  /* border: 5px solid green; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /* background-color: tan; */
  height: 40vh;
  width: 100%;
}

.left-container {
  display: flex;
  width: 60%;
}

.right-container {
  width: 40%;
  background: url("../images/carpet.png");
  overflow: hidden;
}
.framed-golden {
}
.framed-golden {
  /* padding: 40px 30px 30px 30px; */
  /* margin: 0 auto; */
  padding: 30px;

  /* vertical-align: middle; */
}

.nearby-players {
  color: darkgreen;
  font-family: "Droid Serif";
}
.player-text {
  margin: 0 auto;
}

.player-info {
  display: flex;
  flex-direction: row;
}

.names-list {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  min-height: 40px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-style: solid;
  border-width: 7px 7px 7px 7px;
  -moz-border-image: url(../img/select-border-image.png) 10% repeat repeat;
  -webkit-border-image: url(..//img/select-border-image.png) 10% repeat repeat;
  -o-border-image: url(../img/select-border-image.png) 10% repeat repeat;
  border-image: url(../img/select-border-image.png) 10% repeat repeat;
  background: url(../img/select-background-image.png) repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
  height: 60px;
  font-size: 10px;
}

.current-player {
  padding: 2px;
  margin: 0 auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  width: 200px;
  border-radius: 5px;
}

.room-container {
  display: flex;
  align-items: center;
  padding: 40px 50px 30px 25px;
  width: 50%;
  background: url("../images/rpgborder3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.room-description {
  font-family: "Droid Serif";
  /* font-size: 0px; */
  /* font-family: "Goudy"; */
}

.control-logo {
  padding-top: 10px;
  margin-bottom: -40px;
}

.logo-img {
  width: 160px;
  height: 30px;
}

.controller {
  padding: 40px;
  margin: 0 auto;
  position: relative;
}

.btn-dir {
  font-size: 30px;
  color: black;
  margin: 5px;
  /* background-color: cornsilk; */
}

.alert {
  margin: 0 auto;
  /* text-align: center; */
  /* flex-direction: column; */
}

#one {
  grid-area: header;
}
#two {
  grid-area: footer;
}
#three {
  grid-area: right;
}
#four {
  grid-area: main;
}

@import url(https://fonts.googleapis.com/css?family=Orbitron);
html,
body {
  font-family: monospace;
  background-color: #4b4e43;
  height: 99%;
}
.controller {
  width: auto;
  margin: 0 auto;
  /* top: 30%; */
  position: relative;
}
.base {
  width: 500px;
  height: 220px;
  background-color: #e0ded4;
  border-radius: 4px;
  z-index: 1;
}

.front {
  position: relative;
  top: 38px;
  margin: 0 auto;
  width: 480px;
  height: 167px;
  background-color: #464646;
  background: linear-gradient(to bottom, #3a3e3b 0%, #232624 100%);
  box-shadow: inset 0px 1px 2px 1px rgba(0, 10, 0, 0.91);
}
.cross {
  position: absolute;
  left: 24px;
  top: 50px;
  width: 110px;
  height: 90px;
}
.cross:active {
  top: 51px;
}

.back-cross {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 105px;
  height: 40px;
  background-color: #e0ded4;
  z-index: 1;
  border: 1px black solid;
}

.back-cross .vert {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 105px;
  height: 40px;
  background-color: #e0ded4;
  z-index: 1;
  border-radius: 4px;
  transform: rotate(90deg);
}

.horizontal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100px;
  height: 35px;
  background-color: #252725;
  z-index: 2;
  border-radius: 1px;
}

.vertical {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100px;
  height: 35px;
  background-color: #252725;
  z-index: 2;
  border-radius: 1px;
  transform: rotate(90deg);
  box-shadow: inset 3px 0px 0px 0px rgba(255, 255, 255, 0.61);
}

.arrowlf {
  right: 5px;
  top: 6px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 12px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.3;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.61);
}
.arrowlf:before {
  content: "";
  width: 10px;
  height: 13px;
  background-color: black;
  position: absolute;
  left: -20px;
  top: -6px;
}
.vert-arrowlf {
  right: 5px;
  top: 6px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 12px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.3;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.61);
}
.vert-arrowlf:before {
  content: "";
  width: 10px;
  height: 13px;
  background-color: black;
  position: absolute;
  left: -20px;
  top: -6px;
}
.arrowrh {
  left: 5px;
  top: 6px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-right: 12px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.3;
  box-shadow: inset 0px 7px 1px 2px rgba(255, 255, 255, 0.91);
}
.arrowrh:before {
  content: "";
  width: 10px;
  height: 13px;
  background-color: black;
  position: absolute;
  left: 10px;
  top: -6px;
}
.vert-arrowrh {
  left: 6px;
  top: 6px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-right: 12px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.3;
  box-shadow: inset 0px 7px 1px 2px rgba(255, 255, 255, 0.91);
}
.vert-arrowrh:before {
  content: "";
  width: 10px;
  height: 13px;
  background-color: black;
  position: absolute;
  left: 10px;
  top: -6px;
}
.up:hover {
  cursor: pointer;
}

.down:hover {
  cursor: pointer;
}
.right:hover {
  cursor: pointer;
}
.left:hover {
  cursor: pointer;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    180deg,
    rgb(22, 22, 22) 30%,
    rgb(58, 58, 58) 100%
  );
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 4;
  border-radius: 50%;
  box-shadow: inset 0px -2px 0px 0px rgba(255, 255, 255, 0.1);
}

.buttons-a-b {
  position: absolute;
  right: 26px;
  top: 80px;
  height: 50px;
}

.btn-border {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #edece7;
  float: left;
  margin: 6px;
}

.btn-round {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 36px;
  height: 36px;
  background: linear-gradient(to bottom, #df2015 0%, #f84936 100%);
  border-radius: 50%;
  float: left;
  border: 1px rgba(0, 0, 0, 0.51) solid;
  box-shadow: inset 0px 1px 2px 0px #fbfbfb, 0px 1px 1px 0px rgba(0, 0, 0, 0.71);
}
.btn-round:active {
  top: 1px;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  box-shadow: inset 0px 0px 1px 0px #fbfbfb, 0px 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.btn-round:hover {
  cursor: pointer;
}

.buttons-select {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  margin: auto;
  width: 142px;
  height: 40px;
  background-color: #e0ded4;
  border-radius: 6px;
  border: 4px solid #e0ded4;
  box-shadow: inset 0px 1px 3px 4px rgba(50, 50, 50, 0.3);
  z-index: 3;
}

.btn-central {
  position: relative;
  top: 3px;
  width: 42px;
  height: 18px;
  background-color: #464646;
  border-radius: 10px;
  border: 1px solid #272723;
  margin: 9px 13px;
  float: left;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.51);
}
.btn-central:active {
  box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.51);
}

.btn-central:hover {
  cursor: pointer;
}

.btn-central-quit:hover {
  cursor: pointer;
}

.btn-central-pause:hover {
  cursor: pointer;
}
.decoration-central div {
  position: relative;
  display: block;
  left: 0;
  right: 0;
  margin: 7px auto;
  top: 0;
  width: 150px;
  height: 28px;
  background-color: #7b836c;
  border-radius: 10px;
  opacity: 0.8;
  z-index: 2;
}

.stickers {
  font-family: "Orbitron", sans-serif;
  color: #df2015;
  position: absolute;
  z-index: 10;
}
.st-b {
  font-weight: bold;
  position: absolute;
  left: 374px;
  top: 140px;
}
.st-a {
  font-weight: bold;
  position: absolute;
  left: 434px;
  top: 140px;
}
.st-select {
  position: absolute;
  left: 186px;
  top: 70px;
}
.st-start {
  position: absolute;
  left: 250px;
  top: 70px;
}
.cable {
  position: absolute;
  top: 40;
  z-index: 1;
  width: 14px;
  height: 40px;
  right: 30%;
  background: linear-gradient(to right, #313131 0%, #161616 50%, #313131 100%);
}

.swal-overlay {
  background: rgba(0, 0, 0, 0.69);
}

.swal-button {
  display: none;
}

.swal-content {
  padding: 0px;
  margin: 0px;
}

.swal-top {
  height: 60px;
  background: url("../images/lambdalogo.png");
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: 60% 80%;
  background-position: center;
  position: relative;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-top: 1px solid lightgray;
  width: 108%;
  top: -20px;
  left: -16px;
  /* font-size: 40px; */
  /* padding-bottom: 20px; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
}

.swal-header h2 {
  margin: 0 auto;
  font-family: "Dragon";
  color: grey;
  /* margin-left: 50px;
  margin-right: 50px; */
  width: 99%;
  padding-top: 20px;
  padding-bottom: 29px;
  background-color: rgba(224, 222, 212, 0.9);
  border-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid grey;
  /* color: rgb(85, 126, 192); */
}
.swal-title:first-child {
  margin-top: 0px;
}

.swal2-popup {
  background-color: rgba(224, 222, 212, 0.9);
  border: 3px solid white;
  padding: 0px;
  height: 320px;
  width: 390px;
}

.swal-mud {
  width: 70%;
  border-radius: 5px;
  opacity: 0.89;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
}
.swal-header {
  margin-top: 20px;
}
.swal-bottom {
  padding: 10px;
  margin: 0 20px 0 20px;
  background-color: rgba(224, 222, 212, 0.9);
  /* margin-bottom: -30px; */
  color: rgb(85, 126, 192);

  font-size: 18px;
  font-family: "Pixel";
  border-top: 1px dashed grey;
  border-bottom: 1px dashed grey;
}

.pause-title {
  font-family: "Pixel";
  font-size: 40px;
}
.pause-resume {
  font-family: "Dragon";
  font-size: 20px;
  height: 30px;
}

.swal2-confirm {
  width: 50%;
}

.rpgui-content {
  position: relative;
  display: flex;
  flex-direction: row;
}

.rpgui-container {
  position: relative;
}

.rpgui-slider-container.golden {
  margin: 0 auto;
  width: 100% !important;
}

.rpgui-slider-track.golden {
  position: absolute;
  height: 20px;
}

.rpgui-slider-left-edge.golden {
  position: absolute;
  height: 20px;
  width: 20px;
}

.rpgui-slider-right-edge.golden {
  position: absolute;
  height: 20px;
  width: 20px;
}

.rpgui-slider-thumb.golden {
  position: absolute;
  height: 25px;
  width: 13px;
}

#bottomContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  /* height: 100%; */
}

#playerContainer {
  /* padding: 0px 5px; */
  width: 33.33%;
}
#roomContainer {
  /* padding: 0px 5px; */
  width: 33.33%;
}
#chatContainer {
  /* padding: 0px 5px; */
  color: white;
  background: black;
  width: 33.33%;
}
