@font-face {
  font-family: "Adventure";
  src: url("../fonts/AdventureReQuest.otf");
}

/* @media screen and (min-width: 1440px) and  (max-width: 1440px)  {
  .main-container {
    min-width: 1400px;
  }

} */

h2,
h3,
h4,
h5 {
  font-family: "Adventure";
}

.body {
  min-width: 1400px;
  max-width: 1400px;
}

.top-container {
  /* background-color: black; */
  display: flex;
}

.tv-container {
  background-repeat: no-repeat;
  height: 60vh;
  width: 68%;
  position: relative;
  background: url("../images/carpet.png");
}

.tv-img {
  width: 90%;
  height: 100%;
  border-right: 5px solid black;
  border-bottom: 3px solid black;
  border-left: 5px solid black;
  border-top: 0px solid black;
  border-radius: 40px;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 30px;
}

.room-img {
  /* z-index: 10;
  vertical-align: center; */
  width: 75%;
  height: 80%;
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 70px;
}

.map-container {
  /* border: 3px dotted black; */
  border-top: 3px dotted black;
  border-right: 3px dotted black;
  border-left: 3px dotted black;
  background: url("../images/newmap.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  /* display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px; */
}
.map-player1 {
  position: fixed;
  left: 170px;
  top: 325px;
}
.map-player2 {
  position: fixed;
  left: 335px;
  top: 10px;
}
.map-player3 {
  position: fixed;
  left: 340px;
  top: 170px;
}
.map-player4 {
  position: fixed;
  left: 150px;
  top: 20px;
}
.map-player5 {
  position: fixed;
  left: 150px;
  top: 210px;
}
.map-player6 {
  position: fixed;
  left: 625px;
  top: 150px;
}
.map-player7 {
  position: fixed;
  left: 720px;
  top: 10px;
}

.bottom-container {
  /* border: 5px solid green; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: tan;
  height: 100%;
  width: 100%;
}
.player-container {
  padding: 40px 30px 30px 30px;
  width: 30%;
  background: url("../images/rpgborder2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.current-player {
  padding: 2px;
  margin: 0 auto;
  text-align: center;
  background: rgb(0, 0, 0, 0.2);
  width: 40%;
  border-radius: 5px;
}

.room-container {
  padding: 40px 50px 30px 25px;
  width: 30%;
  background: url("../images/rpgborder3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.control-logo {
  position: fixed;

  bottom: 235px;
  right: 194px;
}

.controller {
  /* border-left: 1px solid grey; */
  background: url("../images/carpet.png");

  /* grid-template-areas:
    "header header header header header header"
    "main main main right right right"
    "footer footer footer footer footer footer"; */
  /* grid-gap: 10px; */
  padding: 40px;
  /* width: 40%; */
}

.btn-dir {
  font-size: 30px;
  color: black;
  margin: 5px;
  /* background-color: cornsilk; */
}

.alert {
  flex-direction: column;
}

#one {
  grid-area: header;
}
#two {
  grid-area: footer;
}
#three {
  grid-area: right;
}
#four {
  grid-area: main;
}

@import url(https://fonts.googleapis.com/css?family=Orbitron);
html,
body {
  font-family: monospace;
  background-color: #4b4e43;
  height: 99%;
}
.controller {
  width: auto;
  margin: 0 auto;
  /* top: 30%; */
  position: relative;
}
.base {
  width: 500px;
  height: 220px;
  background-color: #e0ded4;
  border-radius: 4px;
  z-index: 1;
}

.front {
  position: relative;
  top: 38px;
  margin: 0 auto;
  width: 480px;
  height: 167px;
  background-color: #464646;
  background: linear-gradient(to bottom, #3a3e3b 0%, #232624 100%);
  box-shadow: inset 0px 1px 2px 1px rgba(0, 10, 0, 0.91);
}
.cross {
  position: absolute;
  left: 24px;
  top: 50px;
  width: 110px;
  height: 90px;
}
.cross:active {
  top: 51px;
}

.back-cross {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 105px;
  height: 40px;
  background-color: #e0ded4;
  z-index: 1;
  border: 1px black solid;
}

.back-cross .vert {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 105px;
  height: 40px;
  background-color: #e0ded4;
  z-index: 1;
  border-radius: 4px;
  transform: rotate(90deg);
}

.horizontal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100px;
  height: 35px;
  background-color: #252725;
  z-index: 2;
  border-radius: 1px;
}

.vertical {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100px;
  height: 35px;
  background-color: #252725;
  z-index: 2;
  border-radius: 1px;
  transform: rotate(90deg);
  box-shadow: inset 3px 0px 0px 0px rgba(255, 255, 255, 0.61);
}

.arrowlf {
  right: 5px;
  top: 6px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 12px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.3;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.61);
}

.arrowlf:before {
  content: "";
  width: 10px;
  height: 13px;
  background-color: black;
  position: absolute;
  left: -20px;
  top: -6px;
}
.arrowrh {
  left: 5px;
  top: 6px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-right: 12px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.3;
  box-shadow: inset 0px 7px 1px 2px rgba(255, 255, 255, 0.91);
}
.arrowrh:before {
  content: "";
  width: 10px;
  height: 13px;
  background-color: black;
  position: absolute;
  left: 10px;
  top: -6px;
}
.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    180deg,
    rgb(22, 22, 22) 30%,
    rgb(58, 58, 58) 100%
  );
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 4;
  border-radius: 50%;
  box-shadow: inset 0px -2px 0px 0px rgba(255, 255, 255, 0.1);
}

.buttons-a-b {
  position: absolute;
  right: 26px;
  top: 80px;
  height: 50px;
}

.btn-border {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #edece7;
  float: left;
  margin: 6px;
}

.btn-round {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 36px;
  height: 36px;
  background: linear-gradient(to bottom, #df2015 0%, #f84936 100%);
  border-radius: 50%;
  float: left;
  border: 1px rgba(0, 0, 0, 0.51) solid;
  box-shadow: inset 0px 1px 2px 0px #fbfbfb, 0px 1px 1px 0px rgba(0, 0, 0, 0.71);
}
.btn-round:active {
  top: 1px;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  box-shadow: inset 0px 0px 1px 0px #fbfbfb, 0px 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.buttons-select {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  margin: auto;
  width: 142px;
  height: 40px;
  background-color: #e0ded4;
  border-radius: 6px;
  border: 4px solid #e0ded4;
  box-shadow: inset 0px 1px 3px 4px rgba(50, 50, 50, 0.3);
  z-index: 3;
}

.btn-central {
  position: relative;
  top: 3px;
  width: 42px;
  height: 18px;
  background-color: #464646;
  border-radius: 10px;
  border: 1px solid #272723;
  margin: 9px 13px;
  float: left;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.51);
}
.btn-central:active {
  box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.51);
}

.decoration-central div {
  position: relative;
  display: block;
  left: 0;
  right: 0;
  margin: 7px auto;
  top: 0;
  width: 150px;
  height: 28px;
  background-color: #7b836c;
  border-radius: 10px;
  opacity: 0.8;
  z-index: 2;
}

.stickers {
  font-family: "Orbitron", sans-serif;
  color: #df2015;
  position: absolute;
  z-index: 10;
}
.st-b {
  font-weight: bold;
  position: absolute;
  left: 374px;
  top: 140px;
}
.st-a {
  font-weight: bold;
  position: absolute;
  left: 434px;
  top: 140px;
}
.st-select {
  position: absolute;
  left: 174px;
  top: 70px;
}
.st-start {
  position: absolute;
  left: 250px;
  top: 70px;
}
.cable {
  position: absolute;
  top: 40;
  z-index: 1;
  width: 14px;
  height: 47px;
  right: 30%;
  background: linear-gradient(to right, #313131 0%, #161616 50%, #313131 100%);
}
