.greetings {
  margin-top: 90px;
  text-align: center;
}

.chat {
  .form-control {
    font-family: "RS5";
    font-size: 18px;
    text-shadow: none;
    max-height: 30px;

    // background-color: "white";
  }
}
